a(class='button' href="#/") Home

form(ng-submit="sharedCuriousFoods()").well
	h3 Find people with a similar curious foods list
	.form-group
		input.form-control(type="text", placeholder="Enter your Name...", ng-model="name" required)
	.form-group
		input.btn.btn-default(type="submit", value="Look...")

div.news-item.row(ng-repeat="match in matches")
	//- tracking and duplicates might be helpful,if you want to switch things up
	//- h4 You have similar interests with these peoples
	h4 {{match}}
	
	

h3 Browse the curious foods library
div.news-item.row(ng-repeat="curiousFood in curiousFoods")
	
	h4 {{curiousFood}}
	//- how do I get the persons name to show up next to their food item
	//- div.news-item.row(ng-repeat="profile in profiles")
	//- 	h6 {{profile.name}} balla