a(class='button' href="#/snack_library") Snack Library
a(class='button' href="#/curious_foods_library") Curious Foods Library

h2 Create a Profile...

form(ng-submit="addProfile()").well
	.form-group
		input.form-control(type="text", placeholder="Enter your Name...", ng-model="newProfile.name")
	.form-group
		input.form-control(type="text", placeholder="Enter your foods that are staples in your diet...", ng-model="newProfile.staples")
	.form-group
		input.form-control(type="text", placeholder="Enter your snacks...", ng-model="newProfile.snacks")
	.form-group
		input.form-control(type="text", placeholder="Enter foods that you are curious about...", ng-model="newProfile.curiousFoods")
	.form-group
		input.btn.btn-primary(type="submit", value="Create Profile")
	

input(type="text", placeholder="Search...", ng-model="seach")
//- 'profiles' here is the main connector all the way back to your aip factory
div.news-item.row(ng-repeat="profile in profiles | filter: search")
	//- profileTemplate relates to profileTemplate.jade
	//- this is creating a custom attribute
	profiletemplate(aip="profile")

	
	