a(class='button' href="#/") Home

h3 Browse the snacks library
div(ng-repeat="profile in profiles")
	div(ng-repeat="snack in profile.snacks")
		h4 {{snack}}
		a(ng-href="#/view/{{profile._id}}") Connect...